
@import (less) './instantsearch.min.css';
@import (less) './instantsearch-theme-algolia.min.css';


#search {
    max-width: 300px;
    max-height: var(--header-height);
    position: relative;
}

.ais-search-box {
    max-width: 100% !important;
    margin-bottom: 15px;

    &--input {
        background: transparent !important;
        border-radius: 44px;
        padding: 0 !important;
        position: relative;
        text-indent: -1000px;
        transition: all 200ms ease-in-out;
        width: 44px !important;
        z-index: 1;

        &:hover {
            border-color: dodgerblue;
            cursor: pointer;
        }

        &:focus {
            border-color: dodgerblue;
            border-radius: 4px;
            cursor: inherit;
            padding: 10px 10px 10px 35px !important;
            text-indent: 0;
            width: 220px !important;
            z-index: inherit;

            @media screen and (max-width: 800px) {
                width: 120px !important;
            }
        }
    }

    &--input ~ &--magnifier-wrapper {
        display: block;
        margin-top: 20px;
        position: absolute;
        top: 12px;
    }

    &--input:hover ~ &--magnifier-wrapper &--magnifier,
    &--input:focus ~ &--magnifier-wrapper &--magnifier {
        fill: black !important;
    }

    &--reset {
        display: none !important;
    }
}
