.share {
  display: contents;

  .hidden {
    display: none;
  }

  svg {
    height: 20px;
    margin-right: 7px;
    width: 20px;
  }

  button,
  .button {
    align-items: center;
    background-image: none !important;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #777;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 1.1;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
  }

  button:hover,
  .button:hover {
    border-color: #cdd;
  }

  .share-button,
  .copy-link {
    padding-left: 30px;
    padding-right: 30px;
  }

  // .share-button,
  .share-dialog {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .share-dialog {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    display: none;
    padding: 20px;
    width: 320px;
    z-index: -1;
  }

  .share-dialog.is-open {
    display: block;
    z-index: 2;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }

  .share-close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .share-close-button svg {
    margin-right: 0;
  }

  .link {
    align-items: center;
    background-color: #eee;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .share-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
