#search-results {
    background-color: white;
    border-bottom: 1px solid @color_6;
    left: 0;
    padding: 2em 1em;
    position: absolute;
    top: var(--header-height);
    width: 100%;
    z-index: 2000;

    .ais-hits--item h2 {
        padding: 20px;
    }

    @media (min-width: 769px) {
        padding: 2em 10em;
    }
}

.post-link .ais-Highlight {
    color: dodgerblue;
    font-style: normal;
    text-decoration: underline;
}
