
footer {
	height: var(--footer-height);
	line-height: var(--footer-height);
	background: var(--fill-color);
	display: flex;
	justify-items: space-between;
	align-items: center;

	// on mobile show footer even when menu is open
	body.menu-active & {
		@media (max-width: 1024px) {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 2002;
		}
	}

	.not-mobile {
		display: none;

		@media (min-width: 1024px) {
			display: inline-block;
		}
	}

	.icon {
		svg {
			display: inline-block;
			height: 16px;
			margin: 0 -12px -3px 12px;
			width: 16px;
		}
	}

	.btt {
		background-image: none !important;

		svg {
			display: block;
			height: 32px;
			margin: -6px 0 0 0;
			pointer-events: none;
			transform: rotate(-90deg);
			width: 32px;
		}
	}

	span {
		padding: 0 10px;

        &:first-child {
			flex: 1;
		}
	}

    a {
		text-shadow: unset;
		background-image: unset;
        text-decoration: none;

		&:hover {
			text-shadow: unset;
			background-image: unset;
			text-decoration: none;
		}
    }

	.icon-bookmark {
		display: flex;
	}
}
