
header {
	height: var(--header-height);
	line-height: var(--header-height);
	background: var(--fill-color);
    display: flex;

	.menu-icon {
		display: none;
		position: relative;
		width: 50px;
		height: 50px;
		cursor: pointer;
        margin-right: -14px;

		div {
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			width: 22px;
			height: 12px;
        }

		span {
			position: absolute;
			display: block;
			width: 22px;
			height: 2px;
			background-color: @background_color_3;
			transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), top 0.2s cubic-bezier(0.3, 1.4, 0.7, 1), bottom 0.2s cubic-bezier(0.3, 1.4, 0.7, 1), width 0.5s cubic-bezier(0.3, 1.4, 0.7, 1);

            &:first-of-type {
				top: 0;
			}

            &:last-of-type {
				bottom: 0;
			}
        }

		&:hover {
			span {
				&:first-of-type {
					width: 26px;
                }

				&:last-of-type {
					width: 12px;
				}
			}
		}
    }

	.menu-icon.menu-active {
		span {
			&:first-of-type {
				transform: rotate(45deg);
				top: 5px;
            }

			&:last-of-type {
				transform: rotate(-45deg);
				bottom: 5px;
			}
        }

		&:hover {
			span {
				&:first-of-type {
					width: 22px;
                }

				&:last-of-type {
					width: 22px;
				}
			}
		}
	}

    a {
		font-size: 21px;

		&.home {
			transition: all 250ms ease-in-out;

			&:hover {
				background-position-y: -15px;
				padding-top: 5px;
			}
		}
    }

	> span {
		display: flex;
		align-items: center;
		justify-content: center;
        padding: 0 10px;

		&:nth-child(2) {
			flex: 1;
			justify-content: flex-start;
			a {
				padding-top: 3px;
			}
		}
    }

	nav {
		div {
			ul {
				display: flex;
				margin: 0;
                padding: 0;

				li {
					margin: 0;
                    padding: 0 10px;

                    &.mobile-only {
                        display: none;
                    }

					a {
						display: inline-flex;
						padding-top: 1px;
						margin: auto;
						transition: all 250ms ease-in-out;

						&:hover {
							background-position-y: -15px;
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
}

header {
  @media (min-width: 1025px) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2001;
  }
}

@media (max-width: 1024px) {
	header {
		.menu-icon {
			display: block;
		}
    }

	body {
		header {
			> span {
				&:nth-child(2) {
					justify-content: center;
				}
            }

			nav {
				display: none;
			}
		}
    }

	body.menu-active {
		width: 100%;
		height: 100vh;
        overflow: hidden;

		main {
			h1.sticky {
				display: none;
			}
        }

		header {

			nav {
				position: fixed;
				top: var(--header-height);
				left: 0;
				width: 100%;
				height: calc(~'100vh - var(--header-height)');
				display: flex;
				background: white;
                padding: 40px 20px var(--header-height);
                z-index: 2001; // a space oddity

				div {
                    width: 100%;

					ul {
                        flex-direction: column;
                        width: 100%;

                        li {
							border-bottom: 1px solid dodgerblue;
                            flex-basis: 100%;
                            text-index: 50px;

                            &.mobile-only {
                                display: initial;
                            }

							a {
								background-image: unset;
								text-decoration: none;
                                text-shadow: unset;

								&:hover {
									background-image: unset;
									text-decoration: none;
									text-shadow: unset;
                                }

                                &:not(.with-icon) {
                                    text-indent: 40px;
                                }

                                .icon {
                                    svg {
                                        display: inline-block;
                                        height: 16px;
                                        margin: 0 12px -3px 12px;
                                        width: 16px;
                                    }
                                }
                            }
						}
					}
				}
			}
		}
	}
}
