
#post-list {
    &.with.label {
        border-top: 1px solid @color_6;
    }

    h4 {
        margin-top: 2rem;
        padding-top: 2rem;
    }

    h4 ~ .post-list {
        .post-meta,
        h2 {
            font-size: 1rem;
        }
    }
}
