.post {

    // & > &-title {
    // }

    & > &-meta {
        position: relative;
        top: -2rem;
        margin: 2rem 0;
    }

    & > &-content {

        > aside {
            // border-top: 1px solid @color_6;
            margin: 2rem 0 0 0;
            padding: 2rem 0;
        }

        @media (min-width: 769px) {
            display: flex;

            > div {
                flex: 1;
                padding-bottom: 2rem;
            }

            > aside {
                // border-left: 1px solid @color_6;
                margin: -2rem 0 0 2rem;
                min-width: 320px;
                padding: 2rem;
            }
        }
    }

    .footnotes {
        padding: 1rem;
    }

    .reversefootnote {
        background-image: none;
    }
}
