

@color_1: #222;
@color_2: dodgerblue;
@color_3: #f1f1f1;
@color_4: #2f3640;
@color_5: white;
@color_6: silver;
@font_family_1: arial;
@background_color_1: green;
@background_color_2: #6bb9f0;
@background_color_3: #171717;

@import 'includes-header';
@import 'includes-footer';
@import 'includes-post-list';
@import 'includes-search';
@import 'includes-search-results';
@import 'includes-share';
@import 'layout-default';
@import 'layout-page';
@import 'layout-post';
@import 'misc-fancy-anchors';
@import 'misc-progress';
@import 'misc-dark-mode';

&:root {
	--header-height: 4rem;
	--footer-height: 4rem;
	--border-color: #c0c0c0;
	--bg-color: #fff;
	--fill-color: #f1f1f1;
	--small-bp: 769px;
	--medium-bp: 1025px;
    --large-bp: 1200px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1rem;
}

.ul,
ul {
    list-style: none;

    &,
    .li,
    li {
        margin: 0;
        padding: 10px;
    }
}

span {
	position: relative;
}

code,
pre {
    font-weight: 600;
    font-size: 18px;
}

code {
    font-family: Courier, Monaco, monospace;
}

hr {
    margin: 2rem 0 4rem;
    opacity: 0.25;
}

p,
.page-content ul,
.post-content ul,
pre,
h1,
h2,
h3 {
	margin-bottom: 1rem;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.8;
}

picture,
figure {
	position: relative;
    width: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    img {
		display: block;
		height: auto;
        width: 100%;
    }

	figcaption {
		padding: 1em;
		font-size: 0.75em;
	}
}

main {
    min-height: calc(~'100vh - var(--header-height) - var(--footer-height)');
    padding: 2em 1em;

    @media (min-width: 769px) {
        padding: 2em 10em;
    }

	h1.sticky {
        @media (min-width: 1025px) {
            height: var(--header-height);
            left: 0;
            line-height: var(--header-height);
            position: sticky;
            top: 0;
            z-index: 2001;

            html[data-search-open] & {
                z-index: 1;
            }
        }
    }
}

.skip
{
    a {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;

        &:focus {
            position:static;
            width:auto;
            height:auto;
        }
    }
}
