
&:root {
	--docHeightScrollPercentage: 0;
}

progress {
	background-color: @background_color_1;
	border: 0;
	height: 3px;
	left: 0;
	opacity: 0.7;
	position: fixed;
	top: 0;
	transition: width 200ms linear;
	width: var(--docHeightScrollPercentage);
	max-width: 100%;
	overflow: hidden;
	z-index: 2005;
}
