
@media (prefers-color-scheme: dark) {
  html[data-dark-mode-supported] {

    header .menu-icon span {
        background-color:#e4e4e4;
    }

    svg {
        fill: #e4e4e4;
    }

    body,
    header,
    footer,
    time,
    a {
        color: #e4e4e4;
    }

    body.menu-active header nav,
    body {
        background-color: #4a525a;
    }

    header,
    footer,
    #search-results {
        background-color: darken(#4a525a, 1%);
    }

    a {
        text-shadow: -1px -1px 0 #4a525a, 1px -1px 0 #4a525a, -1px 0px 0 #4a525a, 1px 1px 0 #4a525a;
    }

    .ais-search-box--input:focus {
        color: #e4e4e4 !important;
    }

  }
}
