a {
	background: transparent;
	color: @color_1;
	transition: color .2s ease;
	text-decoration: none;
	position: relative;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 0px 0 #fff, 1px 1px 0 #fff;
	background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 3px, transparent 0);

    &:focus {
		color: @color_2;
		background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 3px, transparent 0);
    }

	&:hover {
		color: @color_2;
		background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 3px, transparent 0);
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	a {
		background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 2.5px, transparent 0);
		&:focus {
			background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 2.5px, transparent 0);
		}
		&:hover {
			background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 2.5px, transparent 0);
		}
	}
}

@media (min-resolution: 144dpi) {
	a {
		background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 2.5px, transparent 0);
		&:focus {
			background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 2.5px, transparent 0);
		}
		&:hover {
			background-image: linear-gradient(0deg, transparent, transparent 2px, dodgerblue 0, dodgerblue 2.5px, transparent 0);
		}
	}
}
