
<footer>

  <span>
    <a href="{{ site.baseurl }}/">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</a>

    <span class="not-mobile">

      {% if site.twitter_username %}
        {% include svg-icons-link.html username=site.twitter_username sitename='twitter' %}
      {% endif %}
      {% if site.github_username %}
        {% include svg-icons-link.html username=site.github_username sitename='github' %}
      {% endif %}
      {% if site.gitlab_username %}
        {% include svg-icons-link.html username=site.gitlab_username sitename='gitlab' %}
      {% endif %}

    </span>

  </span>

  <span>
    <a href="#top" class="icon btt" aria-label="back to top of page">
      <svg>
        <use href="#arrow"></use>
      </svg>
    </a>
  </span>

</footer>
