<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | escape }}{% if page.title %} &mdash; {{ page.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | strip }}{% else %}{{ site.description | strip }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script>
    window.site = {
      url: '{{ site.url }}',
      baseurl: '{{ site.baseurl }}',
      algolia: {
        appId: '{{ site.algolia.application_id }}',
        indexName: '{{ site.algolia.index_name }}',
        apiKey: '{{ site.algolia.search_only_api_key }}',
        searchParameters: {
          restrictSearchableAttributes: ['title', 'content']
        }
      }
    };
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.customMedia = {
        '--image-size-768': '(max-width: 768px)'
    };
  </script>
</head>
