
<header>

  <span>
    <div class="menu-icon" aria-label="toggle the main menu">
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </span>

  <span>
    <a href="{{ site.baseurl }}/" class="home">{{ site.title }}</a>
  </span>

  <nav>
    <div>

      <ul>
        {% for item in site.pages %}
          {% if item.title and item.layout == "page" %}
            <li><a class="site-nav-links-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
        {% if site.twitter_username %}
          <li class="mobile-only">{% include svg-icons-link.html username=site.twitter_username sitename='twitter' %}</li>
        {% endif %}
        {% if site.github_username %}
          <li class="mobile-only">{% include svg-icons-link.html username=site.github_username sitename='github' %}</li>
        {% endif %}
        {% if site.gitlab_username %}
          <li class="mobile-only">{% include svg-icons-link.html username=site.gitlab_username sitename='gitlab' %}</li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <span>
    <div id="search">
      <div id="search-form"></div>
    </div>
  </span>
</header>
