<section id="post-list"{% ifhascontent more_posts_label %} class="with label"{% endifhascontent %}>

    {% ifhascontent more_posts_label %}
        <h4>{% contentblock more_posts_label no-convert %}</h4>
    {% endifhascontent %}

    <ul class="post-list">
        {% assign postsByDate = site.posts | where_exp: 'post', 'post.url != page.url' | group_by_exp: 'post', 'post.date | date: "%b %-d, %Y"' %}
        {% for day in postsByDate %}
            <li>
                <span class="post-meta" title="{{ day.items | size }} from {{ day.name }}">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ day.name }}</time>
                </span>
                <ul>
                    {% for item in day.items %}
                        <li>
                            <h2><a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></h2>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</section>
