{% comment %}

    The --image-size-N customMedia values must match between _includes/head.html & _includes/responsive-image.html
    ... this is related to the use of https://github.com/aFarkas/lazysizes

    Usage:

        {% responsive_image path: images/me.jpg alt: "A description of the image" %}
        
    Note: 

        All of the replace filters seem like overkill ... find a better way with regex???

{% endcomment %}

<picture>
    <source data-srcset="{{site.baseurl}}/{{ path | replace: '.jpg', '.webp' | replace: '.jpeg', '.webp' | replace: '.png', '.webp' | replace: '.gif', '.webp' }}" type="image/webp" />
    {% for i in resized %}
        <source media="(max-width: --image-size-{{ i.width }})" data-srcset="{{site.baseurl}}/{{ i.path }}" />
    {% endfor %}
    <img class="lazyload" data-src="{{site.baseurl}}/{{ path }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ alt }}" />
</picture>
