<div class="share">
    <div class="share-dialog">
        <div>
            <div class="dialog-title">Share this article</div>
            <button class="share-close-button">
                <svg>
                    <use href="#close"></use>
                </svg>
            </button>
        </div>
        <div class="targets" data-targets-unprocessed="">
            <a class="button" href="http://facebook.com/share?url=" target="_blank">
                <svg>
                    <use href="#facebook"></use>
                </svg>
                <span>Facebook</span>
            </a>
            <a class="button" href="http://twitter.com/share?url=" target="_blank">
                <svg>
                    <use href="#twitter"></use>
                </svg>
                <span>Twitter</span>
            </a>
            <a class="button" href="http://linkedin.com/share?url=" target="_blank">
                <svg>
                    <use href="#linkedin"></use>
                </svg>
                <span>LinkedIn</span>
            </a>
            <a class="button" href="http://email.com/share?url=" target="_blank">
                <svg>
                    <use href="#email"></use>
                </svg>
                <span>Email</span>
            </a>
        </div>
        <div class="link">
            <div class="share-url"></div>
            <button class="copy-link">Copy Link</button>
        </div>
    </div>
    <button class="share-button" type="button" title="Share this article">
        <svg>
            <use href="#share-icon"></use>
        </svg>
        <span>Share</span>
    </button>
</div>
