<a href="https://{{ include.sitename }}.com/{{ include.username }}" class="with-icon">
    <span class="icon icon--{{ include.sitename }}">
        <svg><use href="#{{ include.sitename }}"></use></svg>
    </span>
    <span class="username">{{ include.username }}</span>
</a>
