<!DOCTYPE html>
<html lang="{% if site.lang %}{{ site.lang }}{% else %}en{% endif %}"{% if site.ui.use_dark_mode %} data-dark-mode-supported{% endif %}>
  {% include head.html %}
  <body>

    {% include svg-icons.html %}

    <a name="top" id="top"></a>

    <progress></progress>

    <div class="skip">
      <a href="#main">Skip to main content</a>
    </div>

    {% include header.html %}

    <main id="main" role="main">

      {% include search-results.html %}

      {{ content }}

      {% include post-list.html %}

    </main>

    {% include footer.html %}

    <script src="{{ "/js/main.min.js" | prepend: site.baseurl }}"></script>

  </body>
</html>
