---
layout: default
---

{% contentfor more_posts_label %}
  More Posts
{% endcontentfor %}

<article class="page">

  <h1 class="page-title sticky">{{ page.title }}</h1>

  <div class="page-content">
    <div>
        {{ content }}
    </div>
  </div>

</article>
