---
layout: default
---

{% contentfor more_posts_label %}
  More Posts
{% endcontentfor %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h1 class="post-title sticky" itemprop="name headline">{{ page.title }}</h1>

  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
  </div>

  <section class="post-content" itemprop="articleBody">
    <div>
      {{ content }}
    </div>

    <aside>
      {% ifhascontent aside %}
        {% contentblock aside %}
      {% endifhascontent %}

      {% include share.html %}

    </aside>
  </section>

</article>
